{% extends "layouts/default.html" %}
{% block content %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <!--Foot Traffic Report By Shop table-->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Foot Traffic Report By Shop</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Country
                      </th>
                      <th>
                        City
                      </th>
                      <th class="text-right">
                        Salary
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Minerva Hooper
                        </td>
                        <td>
                          Curaçao
                        </td>
                        <td>
                          Sinaai-Waas
                        </td>
                        <td class="text-right">
                          $23,789
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Sage Rodriguez
                        </td>
                        <td>
                          Netherlands
                        </td>
                        <td>
                          Baileux
                        </td>
                        <td class="text-right">
                          $56,142
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Philip Chaney
                        </td>
                        <td>
                          Korea, South
                        </td>
                        <td>
                          Overland Park
                        </td>
                        <td class="text-right">
                          $38,735
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Doris Greene
                        </td>
                        <td>
                          Malawi
                        </td>
                        <td>
                          Feldkirchen in Kärnten
                        </td>
                        <td class="text-right">
                          $63,542
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Mason Porter
                        </td>
                        <td>
                          Chile
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-right">
                          $78,615
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Jon Porter
                        </td>
                        <td>
                          Portugal
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-right">
                          $98,615
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

<!--SOF Processing Lead Time by Period column chart-->
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">SOF Processing Statistics</h5>
          <h4 class="card-title">SOF Processing Lead Time by Period</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chart" width="600" height="400"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh"></i> Updated Real time
          </div>
        </div>
      </div>
    </div>

        </div>

        <div class="row">
          <!--Average Sales by Shop and Period bar chart-->
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Average Sales Statistics</h5>
          <h4 class="card-title">Average Sales by Shop and Period</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chart" width="600" height="400"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh"></i> Updated Real time
          </div>
        </div>
      </div>
    </div>
          
  <!--New Sign Up Report by Shop and Period bar chart-->
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">New Sign Up Report Statistics</h5>
          <h4 class="card-title">New Sign Up Report by Shop and Period</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chart" width="600" height="400"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh"></i> Updated Real time
          </div>
        </div>
      </div>
    </div>
          
        </div>
      </div>

{% endblock content %}