
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="#">
                  Sirjon
                </a>
              </li>
              <li>
                <a href="#">
                  ipNX Nigeria Limited
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, by <a href="#" target="_blank">Idogun John</a>, 
            Coded in <a href="http://flask.pocoo.org/">Flask</a> by <a href="#">Sirjon</a>
          </div>
        </div>
      </footer>

